{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>
        Hi my name is Yimin Arava and this is my attempt at making a twitter clone!
        Currently you create account, login, logout, and write posts. 

        
        

    </p>
    <h3>
        Resources: 
    </h3>
    <p>
        <a href="https://docs.djangoproject.com/en/5.0/">
            Django
        </a>
        <br>
        <a href="https://www.devhandbook.com/django/">
            Dev Handbook
        </a>
        <br>
        <a href="https://django-crispy-forms.readthedocs.io/en/latest/layouts.html">
            Django Crispy Forms
        </a>
        <br>
        <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication">
            Django User Authentication
        </a>
        <br>

    </p>
    
    
{% endblock content %}







